.hide {
	display: none !important;
}
#control_button {
	width: 100% !important;
	border: 0;
	padding: 0;
	background-color: white;
	text-align: center;
}
#control_panel {
	display: flex;
	margin-bottom: 1rem;
}
#control_panel > :nth-child(1), #control_panel > :nth-child(2) {
	display: inline-block;
	flex: 1 1 33%;
	line-height: 2rem;
}
#control_panel > :nth-child(3) {
	text-align: right;
	line-height: 2rem;
}
#control_panel > * > * {
	vertical-align: middle;
}
div > label {
	margin-right: 0.5rem;
}
div > label + select {
	width: auto;
}
.cbi-map > div:nth-of-type(3) {
	display: flex;
	margin-bottom: 0.5rem;
}
.cbi-map > div:nth-of-type(3) > :nth-child(1) {
	flex: 1 1 70%;
}
#updated, #updating {
	display: inline;
}
#thClient {
	width: 17%;
}
#thMAC {
	width: 10%;
}
#thDownload, #thUpload {
	width: 8%;
}
#thTotalDown, #thTotalUp, #thTotal {
	width: 9%;
}
#thFirstSeen, #thLastSeen {
	width: 15%;
}
#progressbar_panel > .tr > .td:nth-child(1) {
	width: 10%;
}
.tr
.table-totals {
	background: #eee !important;
}
.cbi-progressbar {
	position: relative;
	height: normal;
	margin: 3px 0;
	border: thin solid #999;
	background: #fff;
}
.cbi-progressbar > div {
	width: 0;
	height: 100%;
	transition: width .1s ease-in;
}
.cbi-progressbar::after {
	line-height: normal;
	position: absolute;
	bottom 0;
	left 0;
	right 0;
	top 0;
	overflow: hidden;
	content: attr(title);
	text-align: center;
	white-space: pre;
	text-overflow: ellipsis;
}
.modal .cbi-input-select, .modal .cbi-input-text  {
	min-width: 210px !important;
}
.modal .cbi-value-title {
	width: 180px;
}

